<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="config" class="gui.Config">

		<property name="groupNames">
			<set>
				<value>rockmetal80</value>
			</set>
		</property>

		<property name="cacheFolder">
			<value>/tmp</value>
		</property>

	</bean>

</beans>